<div class="login">
    <div class="login__content">
        <h1 class="login__title">LOGIN</h1>

        <form ng-submit="vm.login()" novalidate class="login__form">
            <div>
                <label for="">E-mail:</label>
                <input ng-model="vm.email" type="email">
            </div>
            <div>
                <label for="">Senha:</label>
                <input ng-model="vm.password" type="password">
            </div>
            <button type="submit" class="login__btn">Entrar</button>
            <a ng-click="vm.register()">Cadastrar</a>
        </form>
    </div>
</div>
